.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(22,22,22,0.5);
}

.myModalContent{
    padding: 10px;
    background-color: white;
    border-radius: 13px;
    min-width: 230px;
}

.myModal.active{
    display:flex;
    justify-content: center;
    align-items: center;
}